.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 400px; /* biar ga terlalu lebar di desktop */
    margin: 20px auto;
    padding-top: 177.77%; /* 9:16 ratio */
    
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    animation: fadeUp 1s ease;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}.